@media (max-width: 1500px) {

    .contact {
        margin-top: 60rem;
    }

}

@media (max-width: 1655px) {
    
    .about {
        padding-top: 3rem;
    }

    .contact {
        margin-top: 30rem;
    }
    
}

@media (max-width: 1200px) {

    .about-content {
        width: 75%;
    }

}

@media (max-width: 1125px) {
    
    header {
        justify-content: space-between;
        padding: 2rem 4rem;
    }

    header .burger-menu {
        display: block;
    }

    header nav {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        margin: 0;
        padding: 1rem;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(10px);
        z-index: 1000;
        border-left: 2px solid var(--text-color);
        border-bottom: 2px solid var(--text-color);
        border-radius: 0 0 0 15px;
    }

    body > header > a:nth-child(4) {
        display: none;
    }

    .home {
        width: 75%;
        align-items: start;
        margin-left: 0;
        margin: auto;
    }
}

@media (max-width: 1100px) {

    .contact {
        margin-top: 90rem;
    }

}

@media (max-width: 800px) {

    .about {
        margin-right: 0;
        padding: 5rem;
    }

    .about-content {
        width: 100%;
    }

}

@media (max-width: 650px) {

    .contact {
        padding: 1rem;
    }

    .contact-links-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 12rem;
        min-width: 0;
    }

}