html {
    scroll-behavior: smooth;
    background-color: #000;
}

:root {
    --main-color: #00acb5;
    --text-color: #03e6cf;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    letter-spacing: .03rem;
}

body {
    font-family: 'Inter', sans-serif;
    background-image: url("../images/image.png");
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
}

::-webkit-scrollbar-track {
    background-color: #000;
}


/* ----------------------- HEADER ---------------------- */

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2.5rem 0;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

header a {
    color: #fff;
    transition: all .15s ease-in-out;
}

header nav a:hover {
    color: var(--text-color);
}

header .btn-contact {
    height: 2.5rem;
    width: 5.2rem;
    font-size: 1.1rem;
    border-radius: 35px;
    border: none;
    background-color: #000;
    color: #fff;
    box-shadow:
    0 0 10px #10ffe74f,
    0 0 15px #10ffe74f,
    0 0 20px #10ffe74f;
    transition: all .15s ease-in-out;
    cursor: pointer;
}

header .btn-contact:hover {
    color: rgb(0, 0, 0);
    font-weight: 600;
    background-color: var(--text-color);
}

.logo {
    font-size: 1.5rem;
    font-weight: 800;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

.logo span {
    background: linear-gradient(270deg, var(--main-color) 10%, var(--text-color) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow:
    0 0 10px #10ffe74f,
    0 0 15px #10ffe74f,
    0 0 20px #10ffe74f;
}

nav {
    margin-right: 100px;
}

nav a {
    margin-left: 25px;
    transition: all .15s ease-in-out;
}

nav a:hover {
    color: var(--text-color);
    border-bottom: 3px solid var(--main-color);
}


/* ------------------- HOME ---------------------- */

.home {
    width: 40%;
    margin-left: 200px;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icons-container img {
    margin-right: 10px;
    border-radius: 50%;
    background-color: #03e6cf;
    box-shadow:
    0 0 10px #10ffe74f,
    0 0 15px #10ffe74f,
    0 0 20px #10ffe74f;
    transition: all .15s ease-in-out;
}

.icons-container img:hover {
    transform: scale(1.2);
}

.home h1 {
    font-size: 4rem;
}

.home h3 {
    margin-top: 3px;
    font-size: 2rem;
    margin-bottom: 17px;
}

.home p {
    font-size: 1rem;
    margin-bottom: 30px;
}

.home span {
    background: linear-gradient(270deg, var(--main-color) 10%, var(--text-color) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* ---------------------------- ABOUT ---------------------- */

.about {
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding-right: 12rem;
}

.about-content {
    width: 40%;
}

.about h2 {
    font-size: 3rem;
    margin-bottom: 1.2rem;
    background: linear-gradient(200deg, var(--main-color) 10%, var(--text-color) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about span {
    color: var(--text-color);
}

.about p {
    line-height: 25px;
    font-size: 1.2rem;
}


/* ---------------------------- PROJECTS -------------------------- */

.projects {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

.heading {
    margin-top: 150px;
    margin-bottom: 150px;
    font-size: 3.5rem;
}

.projects-box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 425px));
    justify-content: space-around;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--text-color);
    margin-bottom: 5rem;
    padding: 2rem;
    border-radius: 20px;
    box-shadow:
        0 0 10px #10ffe74f,
        0 0 15px #10ffe74f,
        0 0 20px #10ffe74f;
    min-height: 500px;
    transition: all .15s ease-in-out;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow:
        0 0 10px #10ffe7af,
        0 0 15px #10ffe7ba,
        0 0 20px #10ffe7bb;
}

.project-card img {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-radius: 10px;
}

.project-card h4 {
    font-size: 1.5rem;
    margin: 1rem 0 0.5rem;
}

.project-card p {
    line-height: 1.4rem;
    font-size: 1rem;
    flex: 1;
    margin-bottom: 1.5rem;
    text-align: center;
}

.project-card button {
    height: 2.5rem;
    width: 10rem;
    background-color: var(--text-color);
    border: none;
    border-radius: 12px;
    color: #000000;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

.project-card button:hover {
    transform: scale(1.1);
}